<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>register</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        function postDataFromAPI() {

            var modelObj = {
            name : $("#name").val(),
            email : $("#email").val(),
            mobile : $("#mobile").val(),
            username : $("#username").val(),
            password : $("#password").val(),
            status : $("#status").val()
            };

            var dept = $("#deptname");

            var postData = {
                userObj : modelObj,
                deptObj : dept
            };

            console.log("post data:"+modelObj);

            $.ajax({
            type: "POST",
            url: "http://localhost:8080/user/add",
            headers: {
            "Content-Type": "application/json"
            },
            data: JSON.stringify(postData),
            success: function (data) {
            console.log("POST API RESPONSE::"+data);
            console.log("Success.");
            },
            error: function (jqXHR, textStatus, errorThrown) {
            }
            });
            }
    </script>
</head>
<body>
    <form method="POST" id="search-form">
        Name : <input id="name" type="text" name="name" /><br>
        Email : <input type="text" id="email" name="email" /> <br>
        Mobile : <input type="text" id="mobile" name="mobile" /> <br>
        Username : <input type="text" id="username" name="username" /> <br>
        Password : <input type="text" id="password" name="password" /> <br>
        Status : <input type="text" id="status" name="status" /> <br>
        Department : <input type="text" id="dept" name="dept">

        <input type="button" id="button" value="create" onclick="postDataFromAPI()"/>
    </form>
</body>
</html>


