<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>register</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#search-form").submit(function (event) {

            event.preventDefault();
            fire_ajax_submit();
            });
            });

            function fire_ajax_submit() {

            var search = {}
            search["name"] = $("#name").val();
            search["email"] = $("#email").val();
            search["mobile"] = $("#mobile").val();
            search["username"] = $("#username").val();
            search["password"] = $("#password").val();
            search["status"] = $("#status").val();


            $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "http://localhost:8080/user/add",

            data: JSON.stringify(search),
            dataType: 'json',

            timeout: 600000,

            success : function(search) {
            alert("Success");

            },
            error: function (e) {
            alert("error");
            }
            });

            }
    </script>
</head>
<body>
    <form method="POST" id="search-form">
        name : <input id="name" type="text" name="name" /><br>
        email : <input type="text" id="email" name="email" /> <br>
        mobile : <input type="text" id="mobile" name="mobile" /> <br>
        username : <input type="text" id="username" name="username" /> <br>
        password : <input type="text" id="password" name="password" /> <br>
        status : <input type="text" id="status" name="status" /> <br>


        <input type="submit" id="button" value="create" />
    </form>
</body>
</html>